.main-container {


}
@media only screen and (max-width: 600px) {
    .title-mobile-dashboard {
        font-size: 18vw;
    }
}
.main-dashboard-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title-dashboard {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size:5vh;
    height: 65vh;
}
.section-divider {
    background-color: #24AAE2 ;
    height:0.1vh;
    margin: 16px 32px ;
}

.block-title {
    background-color: #24AAE2;
    padding: 0 8px !important;
    font-weight: bold;
}
.main-dashboard-single-span{
    padding-bottom:4vh;
    font-family: "Lato Thin", sans-serif;
}
.title-dashboard-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-group {
    display: flex !important;
    flex-direction: column !important;
}

.top-button {
    background-color: #24AAE2 !important;
    top: 0 !important;
    color: white !important;
}

.social-media-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;

}

.social-media-animation{
    transition: 0.3s ease-in-out;
    border-radius:10px;
    cursor:pointer;
    margin: 0 2vw;
}

.social-media-github-dashboard:hover{
    color: black;
}
.social-media-linkedin-dashboard:hover{
    background: #0A66C2;
    border-radius:10px;
}
.social-media-instagram-dashboard:hover{
    background: linear-gradient(197deg, rgba(178,0,163,1) 5%, rgba(255,220,28,1) 100%);
}
