.single-list-item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin:2vh 0 ;
    padding:2.5vh 2.5vw;
    /*color: #17181F;*/
    /*background-color: rgba(238, 237, 240, 0.9);*/
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.9 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 16px ;
}

.main-carousel{
    width:20vw;
    height:auto;
    margin: 1vh 1vw;

}
.image-carousel{
    width:40vw;
    height:50vh;
    object-fit: contain;
}
.carousel.carousel-slider{
    border-radius:16px !important;
}
.single-list-content{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width:40vw;
    /*border-left: 1px solid rgba(23, 24, 31, 0.5);*/
}
.content-border-left{
    padding-left:16px;
    border-left: 1px solid rgba(238, 237, 240, 0.5);
}
.content-border-right{
    padding-right:16px;
    border-right: 1px solid rgba(238, 237, 240, 0.5);

}
.single-list-title{
    font-family: "Lato Heavy", sans-serif;
    font-size:4vh;
    margin:16px 0;
}
.single-list-label{
    font-family: "Lato Thin", sans-serif;
    margin-bottom:8px;
    font-size:2vh;
}

.single-list-value{
    font-family: "Lato Black", sans-serif;
    font-size:3vh;
    font-weight: bold;
    margin-bottom:8px;
}

.single-list-techs{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.tech-item{
    background-color: #24AAE2;
    border-radius:10px;
    padding:1vw;
    font-size:2vh;
    margin-right:8px;
    font-family: "Lato Semibold", sans-serif;
}

.single-list-github{
    position:absolute;
    bottom:10px;
    right:10px;
    transition: 0.3s ease-in-out;
    border-radius:10px;
    cursor:pointer;

}
.single-list-github:hover{
    color:black;
}
