h1{
  font-family: 'Lato', sans-serif !important;
}

body{
  font-family: 'Lato', sans-serif !important;
  background: linear-gradient(140deg, rgba(1, 38, 144, 1) 5%, rgba(106, 195, 199, 1) 100%) fixed !important;
  color: #F6FCFC !important;
  height: 100%;
}
